body {
	background-color: #777;
}

#mainBox {
	margin: 0px auto;
	background-color: #999;
	width: 1200px;
	height: 600px;
}

#leftColumn {
	float: left;
	display: inline-block;
	background-color: #444;
	width: 800px;
	height: 100%;
}

#rightColumn {
	float: left;
	display: inline-block;
	background-color: #666;
	width: 400px;
	height: 100%;
}

#myBox {
	margin: 0px auto;
	width: 1200px;
	text-align: right;
}

#rightColumn span {
	display: inline-block;
	width: 150px;
}

#rightColumn input {
	width: 40px;
}

#canvas {
	background-color: #000;
}

#explodeButton {
	margin-left: 5%;
	width: 90%;
	height: 30px;
}





